# Ignore node_modules directory
node_modules/

# Ignore npm-debug.log files
npm-debug.log*

# Ignore .env files (sensitive configuration)
.env
config.env


# Ignore log files
*.log

# Ignore Visual Studio Code settings
.vscode/

# Ignore WebStorm settings
.idea/
